@font-face {
  font-family: "Titillium Web";
  src: url("Titillium_Web/TitilliumWeb-Regular.ttf");
  src: url("Titillium_Web/TitilliumWeb-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Titillium Web";
  font-weight: bold;
  src: url("Titillium_Web/TitilliumWeb-Bold.ttf");
  src: url("Titillium_Web/TitilliumWeb-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Titillium Web";
  font-weight: 500;
  src: url("Titillium_Web/TitilliumWeb-SemiBold.ttf");
  src: url("Titillium_Web/TitilliumWeb-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Titillium Web";
  font-weight: 200;
  src: url("Titillium_Web/TitilliumWeb-Light.ttf");
  src: url("Titillium_Web/TitilliumWeb-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Titillium Web";
  font-weight: 100;
  src: url("Titillium_Web/TitilliumWeb-ExtraLight.ttf");
  src: url("Titillium_Web/TitilliumWeb-ExtraLight.ttf") format("truetype");
}